@charset "utf-8";
<style>
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:500|Roboto:400i&display=swap');
</style>

:root {
  --font-color: #000;
  --back-color: #A00;
}

html{
    font-size:62.5%;
    --font-color: #222;
    --back-color: #CCC;
}

body{
    font-family: "Roboto","M PLUS 1p",sans-serif;
    font-style: italic;
    font-size:1.4rem;
    line-height: 1.5;
    text-align: center;
}

h1{
  font-size: 2.3rem;
}

h2{
  font-size: 1.7rem;
}

p {
    font-size: 1.6rem;
    color: var(--font-color);
}

a {
    color: #db5424;
}

.profile{
  font-style: normal;
}

.siteTitle {
    font-weight: normal;
    background: var(--back-color);
    color: var(--font-color);
    font-size: 3.5rem;
    padding: 35px 0;
    margin-bottom: 20px;
}

.heading_02 {
    font-weight: normal;
    border-bottom: 1px solid #CCCCCC;
    color: #222222;
    font-size: 4.0rem;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.description{
  font-style: normal;
  text-align: left;
  max-width: 700px;
  margin: 60px auto;
}

.workthumbnail{
  display: inline-block;
  position: relative;
  background-color: #DDD;
}

.workthumbnail p{
  position: absolute;
  color: var(--font-color);/*文字は白に*/
  font-size: 3rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  opacity:0;
}

.workthumbnail img{
  width: 500px;
  transition: 0.5;
}

.twitterIcon{
  width: 200px;
}

.mb_10 {
    margin-bottom: 10px;
}

.bg_html {
    background: #E65127;
}

.bg_html_desc {
    background: #F4825D;
}

.bg_css {
    background: #0C73B8;
}

.bg_css_desc {
    background: #30AADD;
}

.bg_js {
    background: #EBA32A;
}

.bg_js_desc {
    background: #F2BF26;
}

.role {
    color: #ffffff;
    font-size: 1.8rem;
    margin: 0 auto;
    width: 300px;
}

.role * {
    padding: 10px;
}

.role dt {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.role dd {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

.caption {
    color: #db5424;
    font-size: 1.2rem;
}

.copy {
    background: var(--back-color);
    color: #ffffff;
    font-size: 1.6rem;
    padding: 10px 0;
}
