@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:500|Roboto:400i&display=swap');

html{
  margin: 0;
}

#defaultCanvas0{
  display: block;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 992px){
  #defaultCanvas0{
    display: none;
  }
}
