<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Meguro Ryo Portfolio Site</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slideshow.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="./js/thumbnail.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.7/dist/vue-router.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    $('.slider').bxSlider({
      auto: true,
      pause: 5000,
    });
  });
</script>

</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-dark bg-dark mt-0 mb-3 sticky-top">
    <a class="navbar-brand" href="index.html">Meguro Ryo Portfolio Site</a>
  </nav>

  <section class="container" id="gameDescription">
    <h1>{{ game.title }}</h1>
    <hr>

    <div class="cp_cssslider">
      <template v-for="(photo,index) in game.photos">
        <input type="radio" name="cp_switch" :id="'photo' + index" checked v-if="index === 0"/>
        <input type="radio" name="cp_switch" :id="'photo' + index" v-else/>
        <label :for="'photo' + index"><img :src="photo" /></label>
        <img :src="photo" />
      </template>
    </div>

    <div class="col-sm-8 offset-sm-2">
      <div class="gameSection">
        <div class="mb-3">
          <h2>概要</h2>
          <div v-for="line in game.summary">
            <p>{{ line }}</p>
          </div>
        </div>

        <div class="mb-3">
          <h2>こだわりポイント</h2>
          <div v-for="line in game.commitment">
            <p>{{ line }}</p>
          </div>
        </div>

        <div class="mb-3">
          <h2>コメント</h2>
          <div v-for="line in game.comment">
            <p>{{ line }}</p>
          </div>
        </div>

        <template v-if="game.hasLink">
          <h2>リンク</h2>
          <p>{{ game.linkComment }}</p>
          <a :href='game.link'>{{ game.link }}</a>
        </template>
      </div>


    </div>

  </section>

  <script src="js/game.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js" integrity="sha256-WVsM3xrcqyuFNF3W1qtIKbHFsD0977nDQA8DCMp1zCw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js" integrity="sha256-2/3R3NV5zryj0fDjD3cDh+SNiWQ/TJiMVZzAo5FrhiU=" crossorigin="anonymous"></script>
  <script src="js/sketch2.js"></script>

</body>
</html>
